.navbar{
    flex-direction: column;
}
.navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
} 
#home{
height: 370px;
padding: 3px 68px;
}
#home::before{
    height: 480px;
    }

#home p{
    font-size: 13px;
}
#services{
flex-direction: column;
}

#services .box{

}
#clients{
    flex-wrap: wrap;
}
#clients img{
    width:66px;
    padding: 6px;
    height: auto;
}
.h-primary{
    font-size: 26px;
}


#contact{
    width: 50%;
    padding-left: 109px;
}